header {
  position: sticky;
  top: 0;
  z-index: 1;
}

@font-face {
  font-family: 'Playball', cursive;
  src: url(/fonts/Playball-Regular.ttf)
}

*{
  font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
}

body {
  background: rgba(126, 180, 132, 0.553);
  margin: 0;  
}
  
h1 {
  text-align: center;
  margin: 0em;
  width: auto;
  background-color: #53835e;
  font-family: 'Playball', cursive;
  font-size: xxx-large;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  color: white;
}

h2 {
text-align: center;
margin-top: 2em;
margin-bottom: 2em;
color: black;
}

nav {
  padding: 0.6em;
  border: 0.06em solid black;
  background-color: #193824;
  text-align: center;
}
     
ul li {
display: inline;
padding: 0 0.8em;
}

ul li a:hover {
color: #62ac58;
border-bottom: 0.1875em solid hsl(113, 34%, 51%);
}

a {
text-decoration: none;
color: rgb(255, 255, 255);
margin-inline: 5.5em;
}

footer {
  display: flex;
  flex-direction: column;
  border: 0.06em solid black;
  background-color: #193824;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* hieronder is de 1e webpagina*/

.favoriet {
  display: flex;
  flex-wrap: wrap;
  border: rgb(31, 95, 64);
  padding-top: 1.25em; 
  padding-bottom: 1.25em;
  width: fit-content;
  background-color: rgb(31, 95, 64);
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3em;
  margin-top: 3em;
  color: rgb(255, 255, 255);
  flex-direction: row;
  justify-content: center;
}

.titel-favoriet {
  margin-top: 1em;
  margin-bottom: 0em;
  color: white;
  text-align: center;
}

.tekst-links {
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  
}

.foto-favoriet {
  max-width: 40%;
  max-height: 40%;
  display: flex;
  object-fit: contain; 
  margin-left: 3em;    
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background: white;
  margin: 1.9em 0.6em;
  padding: 1.25em 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1em;
}

.container img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.mijn-verzameling {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 2em 2em;
  background-color: rgb(31, 95, 64);
}

/* Hieronder is de 2e webpagina*/

.container-2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 95, 64);
  color: rgb(255, 255, 255);
  margin: 1em auto;
  width: 60%;
  padding: 1em 1em;
}

.biografie-cards {
  padding: 2%;
  border: 0.099em solid rgb(13, 43, 29);
 
}

.link {
  margin: 0;
  color: rgb(138, 138, 186);
  word-break: break-word;
}

.container-2 img {
  max-width: 95%;
  object-fit: contain;
  margin: 0 1%;
}



/* Hieronder is de 3e wepagina*/


.container-3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-3 {
  background: white;
  margin: 1.9em 3em;
  padding: 1.25em 0.9em;
  display: flex;
  flex-direction:column;  
  text-align: center;
  color: black;
  border-radius: 1em;
}

.container-3 img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.kopjes-pagina-3 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.container-4 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.card-4 {
  background: white;
  margin: 1.9em 6em;
  padding: 1.25em 0.9em;
  display: flex;
  flex-direction:column;
  margin-top: 3%;  
  text-align: center;
}


.container-4 img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.card-4 {
  padding: 2em;
  margin-top: 0;
  margin-bottom: 5vh;
  color: black;
  border-radius: 1em;
}

/* Hieronder is de 4e webpagina*/

.foto-winkel {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: end;
  object-fit: contain;
  align-items: end;
  margin: auto; 
  margin-right: 0%;  
  flex-direction: row; 
  flex-wrap: wrap;
}

.foto-winkel img {
  width: 30%;
}

iframe {
  width: 30%;
  height: 30%;
  object-fit: contain;
}

.tekst-winkel {
  font-size: medium;
  color: white;
  width: fit-content;
}
  
.container-5 {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25 0;
  text-align: left;
  margin: 3em auto;
  flex-direction: column;
  width: 70%;
}

.winkel-cards {
  display: flex;
  flex-direction: row;
  padding: 2em 2em;
  background-color: rgb(31, 95, 64);
  margin-top: 2%;
  margin-bottom: 5%;
}




