header {
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


*{
  font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
  }



body {
  background: rgba(126, 180, 132, 0.553);
  color:rgb(0, 0, 0);
  margin: 0;  
  }
  
  


  h1 {
    text-align: center;
    margin: 0em;
    width: auto;
    background-color: #53835e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Playball', cursive;
    font-size: xxx-large;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

  h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }

 
  
    nav {
      margin: 0em;
      padding: 0.6250em;
      border: 0.0625em solid black;
      background-color: #193824;
      text-align: center;
      font-family: Trebuchet MS;
     }
     

     ul li {
      display: inline;
      padding: 0 0.3125em;
     }
      
     ul li a:hover {
      color: #62ac58;
      border-bottom: 0.1875em solid hsl(113, 34%, 51%);
     }

     a:visited:active {
      color: rgb(255, 255, 255);
     }

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      margin-inline: 5.625em;
     }

     footer {
        display:flex;
        flex-direction: column;
        border: rgb(31, 95, 64);
        background-color: #193824;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
     }


/* hieronder in de 1e webpagina*/

  .favoriet {
    display: flex;
    flex-wrap: wrap;
    border: rgb(31, 95, 64);
    padding-top: 1.25em; 
    padding-bottom: 1.25em;
    width: fit-content;
    background-color: rgb(31, 95, 64);
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3em;
    margin-top: 3em;
    color: rgb(255, 255, 255);
    flex-direction:row;
    justify-content: center;
  }

  .titel-favoriet {
    margin-top: 1em;
    margin-bottom: 0em;
  }

  .tekst-links {
    padding-top: 2em;
    padding-bottom: 2em;
   
  }

  .foto-favoriet {
    max-width: 40%;
      max-height: 40%;
      position: inherit;
      justify-content: center;
      display: flex;
      object-fit: contain;
      align-items:end;  
      margin-left: 3em;    
    }
      
    .favoriet p:nth-of-type(1) {
      color: rgb(255, 255, 255);
    }
  
    .favoriet h3:nth-of-type(1) {
      color: rgb(255, 255, 255);
    }

  .card {
    padding: 2em;
    margin-top: o;
    margin-bottom: 5vh;
    color: black;
    border-radius: 1em;
  }


  .container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .container .card {
    width: 19.25em;
    position: relative;
    height: 20em;
    background: white;
    margin: 1.875em 0.625em;
    padding: 1.25em 0.9375em;
    display: flex;
    flex-direction:column;
    flex: content;
    margin-top: 3%;  
    text-align: center;
  }

.container img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

/* Hieronder is de 2e webpagina*/

.container-2 {
  display:flex;
  flex-direction: column;
  border: rgb(31, 95, 64);
  background-color: rgb(31, 95, 64);
  color: rgb(255, 255, 255);
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 0em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;


}

.biografie-cards {
  padding-top: 2em;
  padding-bottom: 2em;
 
}
.container-2 img {
max-width: 95%;
height: 20%;
object-fit: contain;
justify-items:center;
display: block;
margin: 0 auto;

}



/* Hieronder is de 3e wepagina*/


.container-3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  
  }

  .container-3 .card-3 {
    width: 19.25em;
    position: relative;
    height: 20em;
    background: white;
    margin: 1.875em 0.625em;
    padding: 1.25em 0.9375em;
    display: flex;
    flex-direction:column;
    flex: content;
    margin-top: 3%;  
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
  }



.container-3 img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  
}

.card-3 {
  padding: 2em;
  margin-top: o;
  margin-bottom: 5vh;
  color: black;
  border-radius: 1em;
}

.kopjes-pagina-3 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.container-4 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  
  }

  .container-4 .card-4 {
    width: 19.25em;
    position: relative;
    height: 20em;
    background: white;
    margin: 1.875em 0.625em;
    padding: 1.25em 0.9375em;
    display: flex;
    flex-direction:column;
    flex: content;
    margin-top: 3%;  
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
  }



.container-4 img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.card-4 {
  padding: 2em;
  margin-top: o;
  margin-bottom: 5vh;
  color: black;
  border-radius: 1em;
}

/* Hieronder is de 4e webpagina*/

.foto-winkel {
  display: flex;
  width: 50%;
  position: inherit;
  justify-content: space-evenly;
  align-items: end;
  object-fit: contain;
  align-items: end;
  margin: auto; 
  margin-right: 0%;  
  flex-direction: row; 
  flex-wrap: wrap;
}

.foto-winkel img {
  width: 30%;
   


}

  .tekst-winkel {
  font-size: medium;
  color: white;
  width: fit-content;
  }
  
  


.container-5 {
  display: flex;
  flex-wrap: wrap;
  border: rgba(31, 95, 64, 0);
  padding-top: 1.25em; 
  padding-bottom: 1.25em;
  background-color: rgba(31, 95, 64, 0);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  margin-top: 3em;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.winkel-cards {
display: flex;
flex-direction:row;
padding: 2em 2em;
background-color: rgb(31, 95, 64);
margin-top:  1%;
margin-bottom: 10%;

justify-content: center;

}





