body {
  background: #4b0000;
  color:white;
  }

  h1 {
    text-align: center;
    margin: 0px;
    width:auto;
    background-color: #d02a2a;
    text-align: center;
    font-family: Trebuchet MS;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  main {
      margin: 0;
      width: 50vw;
    }
    
    nav {
      margin: 0px;
      padding: 10px;
      border: 1px solid black;
      background-color: #6f0000;
      text-align: center;
      font-family: Trebuchet MS;
     }
     

     ul li {
      display: inline;
      padding: 0 5px;

     }
      
     ul li a:hover {
      color: #FFF;
      border-bottom: 3px solid #FFF;
     }



    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      margin-inline: 90px;
      
  }