body {
  background: rgba(126, 180, 132, 0.553);
  color:rgb(0, 0, 0);
  margin: 0;  
  }
  


  h1 {
    text-align: center;
    margin: 0em;
    width:auto;
    background-color: #53835e;
    text-align: center;
    font-family: Trebuchet MS;
    padding-bottom: 1.0000em;
    padding-top: 1.0000em;
  }

  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  
    nav {
      margin: 0em;
      padding: 0.6250em;
      border: 0.0625em solid black;
      background-color: #193824;
      text-align: center;
      font-family: Trebuchet MS;
     }
     

     ul li {
      display: inline;
      padding: 0 0.3125em;
     }
      
     ul li a:hover {
      color: #62ac58;
      border-bottom: 0.1875em solid hsl(113, 34%, 51%);
     }

     a:visited:active {
      color: rgb(255, 255, 255);
     }

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      margin-inline: 5.625em;
     }



  .favoriet {
    display: flex;
    flex-wrap: nowrap;
    border: rgb(31, 95, 64);
    padding-top: 1.25em; 
    padding-bottom: 1.25em;
    padding-left: 8em;
    padding-right: 8em;
    width: fit-content;
    background-color: rgb(31, 95, 64);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    margin-top: 4em;
    color: rgb(255, 255, 255);
    flex-direction:row;
    justify-content: center;
  
  }

  .tekst-links {
    padding-top: 2em;
    padding-bottom: 2em;

   
  }

  .foto-favoriet {
    max-width: 15em;
      max-height: 15em;
      position:inherit;
      justify-content: center;
      display: flex;
      object-fit: contain;
      align-items:end;  
      margin-left: 3em;    
    }
          

  .card {
    padding: 2em;
    margin-top: o;
    margin-bottom: 5vh;
    color: black;
    border-radius: 1em;
  }

  .favoriet p:nth-of-type(1) {
    color: rgb(255, 255, 255);
  }

  .favoriet h3:nth-of-type(1) {
    color: rgb(255, 255, 255);
  }


  .container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  
  }

  .container .card {
    width: 19.25em;
    position: relative;
    height: 20em;
    background: white;
    margin: 1.875em 0.625em;
    padding: 1.25em 0.9375em;
    display: flex;
    flex-direction:column;
    flex: content;
    margin-top: 3%;  
    text-align: center;
  }



.container img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

/* Hieronder is de 2e webpagina*/

.container-2 img {
width: 15em;
height: 15em;
margin-left: auto;
margin-right: auto;
object-fit: contain;
}


/* Hieronder is de 3e wepagina*/


.container-3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  
  }

  .container-3 .card-3 {
    width: 19.25em;
    position: relative;
    height: 20em;
    background: white;
    margin: 1.875em 0.625em;
    padding: 1.25em 0.9375em;
    display: flex;
    flex-direction:column;
    flex: content;
    margin-top: 3%;  
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
  }



.container-3 img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.card-3 {
  padding: 2em;
  margin-top: o;
  margin-bottom: 5vh;
  color: black;
  border-radius: 1em;
}

.kopjes-pagina-3 {
  margin-top: 4em;
}

.container-4 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  
  }

  .container-4 .card-4 {
    width: 19.25em;
    position: relative;
    height: 20em;
    background: white;
    margin: 1.875em 0.625em;
    padding: 1.25em 0.9375em;
    display: flex;
    flex-direction:column;
    flex: content;
    margin-top: 3%;  
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
  }



.container-4 img {
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.card-4 {
  padding: 2em;
  margin-top: o;
  margin-bottom: 5vh;
  color: black;
  border-radius: 1em;
}