body {
  background: rgb(139,87,66);
  color:white;
  }

  h1 {
    text-align: center;
  }
  
  main {
      margin: 0;
      width: 50vw;
    }
    
    nav ul {
      list-style: none;
      padding: 10px;
      width: auto;
      flex-direction: row;
      text-align: center;
      display: flex;
      justify-content: space-around;  
      text-decoration: none;
    }
  
    li {
      text-decoration: none;
      display: flex;
      padding: 15px 100px;
      justify-content: center;
      text-decoration: none;
      background-color:#fff6e4 ;
      color: white;
      border:10px
      
    }

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }